# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives: List popular languages for Data Science.
+ Python
+ R
+ SQL
+ JAVA
+ MATLAB

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JAVA
5. C++
6. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. SciPy
5. Seaborn
6. PyTorch
7. Machine Learning

|Data Science Tools|
|------------------|
|Python|
|SQL
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author Ida